name: Docker Image CI

on:
  push:
    branches: [ master ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: docker login
      run: docker login -u "${DOCKER_USERNAME}" -p "${DOCKER_PASSWORD}"
    - name: Build the Docker image
      run: docker build . -f dockerfile --tag mahmom/jenkins_sprints:"${GITHUB_SHA}"
    - name: push the Docker image
      run: docker push mahmom/jenkins_sprints:"${GITHUB_SHA}"     
